@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(rgb(151, 194, 211), rgb(16, 179, 219));
    font-family: "Kanit", sans-serif;
}
    

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weatherUI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(87, 211, 169), rgb(75, 127, 185));
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgb(34, 34, 34);
    padding: 30px;
}

.weatherInput{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weatherInput i{
    position: absolute;
    font-size: 1.2rem;
}

.weatherInput #search{
    right: 20px;
    cursor: pointer;
}

.weatherInput #searchbar{
    width: 350px;
    height: 70px;
    border-radius: 30px;
    padding: 20px;
    padding-right: 50px;
    font-size: 1.8rem;
    outline: 0;
    border: none;
    color: rgb(99, 99, 99);
}

.weatherForeacast {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    color: white;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s, padding 0.3s;
    display: flex;
}

/* .weatherForeacast {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    padding: 30px;
}

 */
.weather_type{
    font-size: 120px;

}

.temperature{
    font-size: 4rem;
    
}

.location{
    font-size: 2.5rem;
}


.weatherNotFound{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}


.weatherNotFound i {
    font-size: 5rem;
}
.weatherNotFound p {
    font-size: 2rem;
    text-align: center;
}

.weatherFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weatherFound img {
    width: 8rem;
}